*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
#slider{
    width: 100%;
    height: 30%;
    background-color: #d2691e;
    position: relative;
    display: none;
}
.auto{
    width: 100%;
    margin: auto;
    padding: 3%;
}
.auto:nth-child(1){
    background-color: burlywood;
}
.auto:nth-child(2){
    background-color: gray;
}
.auto:nth-child(3){
    background-color: rgb(234, 166, 10);
}
.auto:nth-child(4){
    background-color: olive;
}
#back{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 2%;
    cursor: pointer;
}
#forth{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
}